streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
langchain_google_genai
google-genai
python-pptx
python-docx
pytesseract==0.3.13
pdf2image
tabulate
timm
youtube-transcript-api
yt_dlp
langchain-pinecone==0.2.11
pinecone==7.3.0
easyocr==1.7.2
PyMuPDF==1.26.3
